<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.3</string>
	<key>CFBundleDisplayName</key>
	<string>Kamooni Traveller</string>
	<key>CFBundleIdentifier</key>
	<string>com.kamooni.traveller</string>
	<key>NSCameraUsageDescription</key>
	<string>To further protect your personal information we require a selfie to verify the user is using his/her own identity.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app needs access to your photo library to allow you to share your experiences with photos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone for video</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app wants to access Media library</string>
	<key>CFBundleName</key>
	<string>TravellerApp</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIRequiresFullScreen</key>
	<string>YES</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location at all times?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Can we use your location when your app is being used?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To help find amazing places near you, we need access to your location</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.4</string>
	<key>PremindAppKey</key>
	<string>8086284983525469</string>
	<key>PremindAppSecret</key>
	<string>ced0f2e8b5e911e8886f0242ac150005</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Need to get calendar </string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Custom Property</key>
	<false/>
</dict>
</plist>
